/* DZSLIDES DEFAULT CSS */

* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
[role="note"] { display: none; }
body {
    width: 800px;
    height: 544px; /*600px;*/
    margin-left: -400px;
    margin-top: -272px; /*-300px;*/
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
    display: none;
}
.view body {
    position: static;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    display: inline-block;
    overflow: visible; overflow-x: hidden;
    /* undo Dz.onresize */
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
}
.view head, .view head > title { display: block }
section {
    position: absolute;
    pointer-events: none;
    width: 100%; height: 100%;
}
.view section {
    pointer-events: auto;
    position: static;
    width: 800px; height: 600px;
    margin: -150px -200px;
    float: left;
    transform: scale(.4);
    -moz-transform: scale(.4);
    -webkit-transform: scale(.4);
    -ms-transform: scale(.4);
}
.view section > * { pointer-events: none; }
section[aria-selected] { pointer-events: auto; }
html { overflow: hidden; }
html.view { overflow: visible; }
body.loaded { display: block; }
.incremental {visibility: hidden; }
.incremental[active] {visibility: visible; }
#progress-bar{
    bottom: 0;
    position: absolute;
    -moz-transition: width 400ms linear 0s;
    -webkit-transition: width 400ms linear 0s;
    transition: width 400ms linear 0s;
}
.view #progress-bar {
    display: none;
}

/* CUSTOM CSS */

html, .view body { background-color: #949699; counter-reset: slideidx; }
body, .view section {
    font-family: 'Oswald', arial, serif;
    background-color: white;
    letter-spacing: 0;
    color: #666;
    /*border-radius: 12px*/
}

iframe {
    width: 100%;
}

/* A section is a slide. It's size is 800x600, and this will never change */
section, .view head > title {
    font-size: 30px;
    top: 53px;
    bottom: 53px;
}

/* SHARED TEMPLATE ITEMS */
.button {
    background: url("../img/button.png") no-repeat;
    border: medium none;
    box-shadow: none;
    color: #fff;
    float: right;
    font-size: 28px;
    height: 60px;
    padding: 7px 0;
    text-align: center;
    width: 175px;
    position: absolute;
    /*bottom: 150px;*/
    /*right: 60px;*/
    bottom: 120px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.button-back {
    background: url("../img/button-back.png") no-repeat;
    border: medium none;
    box-shadow: none;
    color: #fff;
    float: right;
    font-size: 22px;
    height: 47px;
    padding: 6px 0;
    text-align: center;
    width: 140px;
    position: absolute;
    bottom: 120px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.answer {
    float: right;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    padding: 7px 0;
    text-align: right;
    width: 500px;
    position: absolute;
    bottom: 120px;
    z-index: 1;
}

.answer.correct {
    right: 200px;
    color: #060;
}

.answer.incorrect {
    right: 10px;
    color: #600;
}

.polaroid {
    width: 209px;
    /*height: 230px;*/
}

.bg-hall {
    background: url(../img/bg/bg-kid.png);
}

.bg-lawbooks {
    background: url(../img/bg/bg-lawbooks.png);
}

.bg-school {
    background: url(../img/bg/bg-school.png);
}

.bg-school-fade {
    background: url(../img/bg/bg-school-fade.png);
}

.bg-phone {
    background: url(../img/bg/bg-phone.jpg);
}

.bg-ilprovider {
    background: url(../img/bg/bg-ilprovider.jpg);
}

.bg-signature {
    background: url(../img/bg/bg-signature.jpg);
}

/* TEMPLATE 1: Folder background, image left, text right */
section.tpl-1 {
    background: url(../img/bg/bg-folder.jpg);
    background-size: contain;
}

section.tpl-1 > div:first-of-type, section.tpl-1 > div:nth-of-type(2) {
    float: left;
    font-size: 20px;
    height: 600px;
    line-height: 35px;
    margin: 10px;
    position: relative;
    width: 50%;
    z-index: 0;
}

section.tpl-1 > div:first-of-type { /* First div is the left column */
    padding: 28px 0 0 78px;
    position: relative;
    width: 33%;
    z-index: 1;
}

section.tpl-1 > div:nth-of-type(2) { /* Second div is the right column */
    background: url("../img/bg/bg-paper.png") no-repeat;
    background-size: 100%;
    height: 450px;
    line-height: 35px;
    margin: 10px 0 0 4px;
    /*padding: 50px 50px 0;*/
    padding: 40px 40px 0;
    position: relative;
    width: 50%;
    z-index: 0;
}

/* TEMPLATE 2: Full background image, faded paper, text right */
section.tpl-2 {
    background-size: contain;
}

section.tpl-2 > div:first-of-type {
    float: left;
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    position: absolute;
    left: 38%;
    width: 50%;
    height: 450px;
    line-height: 35px;
    /*padding: 80px 50px 0;*/
    padding: 45px 45px 0;
    z-index: 1;
}

section.tpl-2 > div:first-of-type:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/bg/bg-paper.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.90;
    z-index: -1;
}

/* TEMPLATE 3: Full background faded image, no paper, text full */
section.tpl-3 {
    background-size: contain;
}

section.tpl-3 > div:first-of-type {
    float: left;
    font-size: 20px;
    margin: 10px;
    height: 450px;
    /*padding: 80px 50px 0;*/
    padding: 25px 35px 0;
    z-index: 1;
}

/* TEMPLATE 4: Full background white, no paper, text full */
section.tpl-4 {
    background-color: #fff;
}

section.tpl-4 > div:first-of-type {
    float: left;
    font-size: 20px;
    margin: 10px;
    height: 450px;
    /*padding: 80px 50px 0;*/
    padding: 25px 35px 0;
    z-index: 1;
}

/* Additional styles */
.view section:after {
    counter-increment: slideidx;
    content: counter(slideidx, decimal-leading-zero);
    position: absolute; bottom: -80px; right: 100px;
    color: white;
}

.view head > title {
    color: white;
    text-align: center;
    margin: 1em 0 1em 0;
}

h1 {
    line-height: 2em;
    font-size: 80px;
}

h2 {
    font-size: 40px;
    line-height: 2em;
}

h3 {
    font-size: 32px;
    line-height: 1.5em;
}

ul {
    margin: 20px 40px 20px 80px;
}

li {
    margin-bottom: 10px;
}

ul.verbose {
    font-size: 17px;
}

ul.alpha li {
    list-style-type: upper-alpha;
}

li > ul {
    margin: 15px 50px;
}

.hide {
    display: none;
}

p {
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 12px;
}

em {
    font-weight: 700;
    color: #333;
    font-style: normal;
}

a {
    color: #ee2e24;
    text-decoration: none;
    background: transparent;
}

a:hover, a:focus {
    color: #949699;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

.checkbox-list {
    margin: 20px;
    font-size: 17px;
    line-height: 1.5em;
}

.checkbox-list.verbose {
    font-size: 14px;
}

.checkbox-list td {
    padding: 0 4px;
    vertical-align: top;
}

.checkbox-list input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

blockquote {
    background: #666;
    color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 17px;
}

.handwritten {
    font-family: cursive;
    background: #fff;
    color: #333;
    padding: 40px;
}

span.correct {
    font-weight: bold;
    color: #060;
}

span.incorrect {
    font-weight: bold;
    color: #600;
}

/* Figures are displayed full-page, with the caption
   on top of the image/video */
figure {
    background-color: black;
    width: 100%;
    height: 100%;
}
figure > * {
    position: absolute;
}
figure > img, figure > video {
    width: 100%; height: 100%;
}
figcaption {
    margin: 70px;
    font-size: 50px;
}

.slide-header, .slide-footer {
    position: absolute;
    width: 100%;
    background: #000;
    font-size: 75%;
}

.slide-header {
    top: 0;
    padding: 10px;
}

.slide-footer {
    bottom: 0;
    padding: 20px;
    color: #fff;
    text-align: right;
    z-index: 1;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
}

/* Transition effect */
/* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
section {
    -moz-transition: left 400ms linear 0s;
    -webkit-transition: left 400ms linear 0s;
    transition: left 400ms linear 0s;
}
.view section {
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.view section[aria-selected] {
    border: 5px red solid;
}

/* Before */
section { left: -150%; }
/* Now */
section[aria-selected] { left: 0; }
/* After */
section[aria-selected] ~ section { left: +150%; }

/* Incremental elements */

/* By default, visible */
.incremental > * { opacity: 1; }

/* The current item */
.incremental > *[aria-selected] { opacity: 1; }

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * { opacity: 0; }

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
    height: 10px;
    background: #AAA;
}

.modal div {
    max-height: 340px;
    overflow-y: auto;
}
.modal p {
    font-size: 20px;
}

.modal-medium { width: 450px; }
.modal-wide { width: 600px; }

ul.reveal {
    margin: 0;
}

.help {
    font-size: 14px;
    color: #888;
    clear: both;
}

ul.reveal li {
    float: left;
    width: 128px;
    height: 120px;
    padding: 4px;
    margin: 8px;
    border: 2px solid #666;
    font-size: 0;
    line-height: 0;
    list-style: none;
    color: #ddd;
    background: url(../img/form-pencil.jpg) #ddd;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.reveal.fit-5 li {
    width: 126px;
}

ul.reveal li:hover {
    color: #aaa;
    background: #aaa transparent;
    opacity: 0.75;
}

ul.reveal li.show {
    font-size: 15px;
    line-height: 1.25em;
    color: #333;
    background: url(../img/form-pencil-fade.jpg) #888;
    cursor: default;
}

ul.reveal-list {
    margin-left: 30px;
}

ul.reveal-list li.show:hover {
    color: #333;
    background: url(../img/form-pencil-fade.jpg) #888;
    opacity: 1.0;
}

ul.reveal-list li {
    font-size: 0;
    margin-bottom: 0;
}

ul.reveal-list li:after {
    font-size: 16px;
    color : #ee2e24;
    cursor: pointer;
    content: 'Click to reveal...';
}

ul.reveal-list li:hover {
    color: #aaa;
    background: #aaa transparent;
    opacity: 0.75;
}

ul.reveal-list li.show {
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: 10px;
    color: #666;
    cursor: default;
}

ul.reveal-list li.show:after {
    content: '';
}

ul.reveal-list li.show:hover {
    color: #666;
    background: none;
    opacity: 1.0;
}

ul.person-list {
    margin: 0;
    height: 140px;
}

ul.person-list li {
    float: left;
    width: 126px;
    height: 126px;
    padding: 4px;
    margin: 8px;
    font-size: 14px;
    border: 2px solid #666;
    list-style: none;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.no-pad li {
    padding: 0 !important;
}

.click-text {
    clear: both;
}

.click-text div {
    display: none;
}

.click-text p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

ul.person-list li:hover {
    color: #aaa;
    background: #aaa transparent;
}

ul.person-list li.show-pic {
    font-size: 0;
    line-height: 0;
    padding: 0;
    cursor: default;
}

select {
    font-size: 17px;
    font-family: Oswald;
}

.probationOfficer1 {
    position: absolute;
    top: 200px;
    left: 195px;
    height: 230px;
}

.socialWorker1 {
    position: absolute;
    top: 213px;
    left: 387px;
    height: 200px;
}

.sap1 {
    position: absolute;
    top: 216px;
    left: 120px;
    height: 200px;
}

.socialWorker2 {
    position: absolute;
    top: 271px;
    left: 290px;
    height: 178px;
}

.socialWorker2a {
    position: absolute;
    top: 123px;
    left: 87px;
    height: 230px;
}

.foster1 {
    position: absolute;
    top: 200px;
    left: 195px;
    height: 230px;
}

.ilprovider1 {
    position: absolute;
    top: 230px;
    left: 133px;
    height: 200px;
}

.proboff1 {
    position: absolute;
    top: 208px;
    left: 160px;
    height: 200px;
}

.mental1 {
    position: absolute;
    top: 260px;
    left: 313px;
    height: 200px;
}

#s5-file {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 104px;
    left: 368px;
    z-index: 2;
    cursor: move;
}

#s5-caseworker, #s6-caseworker {
    position: absolute;
    top: 183px;
    right: 10px;
    z-index: 1;
}

#s5-file-cabinet {
    width: 240px;
    position: absolute;
    bottom: 160px;
    left: 10px;
    z-index: 1;
}

#s9-file {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 114px;
    left: 60px;
    z-index: 2;
    cursor: move;
}

#s9-rtf {
    position: absolute;
    bottom: 110px;
    left: 150px;
    z-index: 1;
    width: 270px;
}

#s9-table {
    position: absolute;
    top: 123px;
    right: 10px;
    z-index: 1;
    width: 400px;
}

.droppable-active {
    opacity: 0.75;
}
